* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background: #000;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #191919;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 70px 30px;
    border-radius: 20px;
  }
  
  h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-box form .user-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
  }
  
  .login-box a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 10px;
  }
  
  .login-box a:hover {
    background: #03a9f4;
    color: #fff;
    box-shadow: 0 0 5px #03a9f4,
                0 0 25px #03a9f4,
                0 0 50px #03a9f4
  